# MinIO конфигурация
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=music
MINIO_SECURE=false

# Flask конфигурация
FLASK_ENV=development
FLASK_DEBUG=1
